.category-saved-searches {
  .saved-searches-controls input[type="text"] {
    width: 100%;
  }

  .saved-search {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;

    input[type="text"] {
      height: 34px;
      margin: 0;
      width: 100%;
    }

    button {
      margin-left: 3px;
      height: 34px;
      margin-left: 5px;
    }
  }
}
