.category-saved-searches {
  .saved-search {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;

    input[type="text"],
    button,
    .select-kit-header {
      height: 34px;
    }

    input[type="text"] {
      flex-grow: 1;
      margin: 0;
    }

    .select-kit-header {
      margin-left: 5px;
      width: 120px;
    }

    button {
      margin-left: 5px;
    }
  }
}
